
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Adiba Anbar Ahona</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<div class="card card-body h-100  border-info">
					<h5>Education</h5>
					<hr>
					<h6>Viqarunnisa Noon School & College</h6>
					<p>2006-2018
					<br>SSC & HSC: 5.00 (Science)</p>
					<h6>BRAC University</h6>
					<p>2019-2023
					<br>CGPA: 3.** (CSE)</p>
					<br>
					<h5>Contact</h5>
					<hr>
					<p>mail:adiba.ahona.work@gmail.com</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		
			<div class="col-md-4">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<h4>Hi I'm Adiba!</h4>
					<img id="profile-pic" src="{% static 'images/hi.jpg' %}" >
					<h6><i><b>A passionate learner</b></i></h6>
					<hr>
					<p>CSE Graduate || BRACU
					<br> Dhaka, Bangladesh	
					<br>Web Development Enthuasist</p>
					<p><i>"Whoever is happy will make others happy too."</i></p>
						<p><b>-Anne Frank</b></p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card card-body h-100 border-info">
					<h5>Activities</h5>
					<hr>
					<p>Undergraduate Thesis Topic: Bang-lish Sentiment Classification using Deep Learning Models (2021-2023)</p>
					
					<p>Served as Secretary of Marketing, BUAPS (2019-2021)</p>
					
					<p>National Biology Olympic (2018)</p>
					
					<p>Project Showcase at Science Fair (2014)</p>
					</div>
			</div>
		</div>
<br>
		<div class="row">
		<div class="col-md-5">
				<div class="card card-body h-100">
					<h5>Technical Skills</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, Laravel, PHP</p>
					<p>PS: Working on Laravel and Machine Learning.</p>
				</div>
			</div>
		
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Interests</h5>
					<hr>
					<p>Graphic Design
					<br>Interior Design
					<br>Gardening
					<br>Travelling</p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>